
/****home membership section **/
.section.token-top{ 
    background-image: url('img/takion-bg15.jpg');
    padding-top: 270px;
    padding-bottom: 70px;    
    background-size: cover;}

    .token-top-sec h2{    text-transform: uppercase;
        font-size: 72px;
        color: #FFFFFF!important;
        text-align: center;}
    .token-top p {
        margin-bottom: 30px;
        color: #fff;
        line-height: 36px;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .section h2.heading {
        font-size: 50px;
    }
    .token-top-sec img{max-width: 350px;}
    .token-top p strong {
        color: #f831ec;
        font-weight: normal;
    }
    p.sub-head {
        font-size: 24px;
        max-width: 80%;
    }
    .top-50 {
        margin-top: 50px !important;
    }
    .token-top img.img-responsive {
        margin-bottom: 30px;
    }
    .token-top .col-md-3 {
        padding: 20px;
    }
    .row.cust-width {
        max-width: 1100px;
        margin: 0 auto;
    }
    .token-top ul {
        list-style-type: circle;
    }
    .token-top ul li {
        color: #fff!important;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 25px;
    }
    table#customers td:last-child, table#customers th:last-child {
        text-align: right;
    }
    .token-top ul li::marker {
        font-size: 42px!important;
        color: #f831ec;
    }
    img.token-img-size {
        max-width: 376px;
        margin: 0 auto;
    }
    table#customers, td, tr {
        border: none!important;
        position: relative;
    }
    table#customers{width: 100%;}
    table#customers th {
        font-family: 'Sansation Regular';
        color: #e43ee8;
    }
    table#customers td {
        font-family: 'Sansation Regular';
        color: #fff;
        font-size: 20px;
    }
    table#customers td {
        font-family: 'Sansation Regular';
        color: #fff;
        font-size: 20px;
    }
    table#customers tr td, table#customers tr th {
             padding: 6px 24px;
    }
    table#customers li {
        list-style: none;
        margin-bottom: 0px;
        font-size: 22px;
        line-height: 33px;

    }
    p.small-font {
        font-size: 18px;
        font-style: italic;
        line-height: 30px;
    }
    table#customers td ul {
           margin: 0;
    }
    table#customers li:before {
        font-size: 20px;
        vertical-align: middle;
        line-height: 20px;
        padding-right: 10px;
        content: "o";
        left: 0;
        position: absolute;
        color: #f731ec;
    }
    table#customers td ul {
        padding: 0;
    }
    table#customers tr td {
        padding: 2px 24px;
    }
/****end membership section **/
