
/* staking calculator style start */
.staking-container {
    width: 100%;
    margin: 20px auto;
    text-align: center;
   
    box-sizing: border-box;
    /* box-shadow: 0 0 10px #c7c4c4; */
    padding: 30px;

}
.staking-container * {
    padding: 0;
    margin: 0;
   
}

.staking-container .heading h2 {
    text-align: center;
    padding: 10px 20px;
   
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0em;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    letter-spacing: 0.07em;
    line-height: 1.2em;
    text-transform: uppercase;
    color: #E343D7;
}

.staking-container .staking-input-genrat-sec {
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    margin: 0;
    /* border: 1px solid #E343D7; */
    border-right: none;
    /* background-color: #fff; */
    box-sizing: border-box;
}
.staking-container #amount {
    font-weight: bold;
}
.staking-container .staking-genrator-sec {
    text-align: left;
    padding: 5px;
    margin-bottom: 25px;
}
.staking-container .staking-genrator-sec label {
    font-size: 18px;
    display: flex;
    align-items: center;
    
}
.staking-container .slider-input-sec {
    display: flex;
    align-items: flex-start;
    text-align: left;
    flex-direction: column;
}
.staking-container .clc-top-title{
    margin: 20px 0;
}
.staking-container .clc-top-title div{
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin: 3px 0;
}

.staking-container .slider-input-sec .range {
    width: 100%;
    height: 15px;
    -webkit-appearance: none;
    outline: none;
    background: #d5d5d5;
    border-radius: 25px;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.staking-container .slider-input-sec .range::-moz-range-progress {
    height: 15px;
    border-radius: 25px;
    background-color: #E343D7;
}
.staking-container .slider-input-sec .range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid #E343D7;
    background: white;
    -webkit-appearance: none;
}
.staking-container .slider-min-max{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;    
}
.staking-container .slider-min-max span{
    display: inline-flex;
    font-size: 18px;
    color: #fff;
}
.staking-container .label-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.staking-container .label-container label{
    color: #E343D7;
}

.staking-container .input-field:focus {
    outline: none;
    color: #fff !important;
}

/* / Toltip styling / */

/* .result-table tr:nth-child(odd){
    background: #030306;
} */


.staking-container .clc-res-sec{
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #ADAAB3;
}
.staking-container .vertical-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    box-sizing: border-box;
    margin: 5px 0;
}
.staking-container .clc-res-title{
    font-size: 25px;
    color: #fff;
}
.staking-container .clc-res{
    color: #fff;
    font-size: 25px;
}
.staking-container .clc-res-title::before{
    content: '\27A4';
    display: inline-block;
    color: #B414C1;
    top: 0;
    margin-right: 10px;
    background: transparent;
}
.clickable-min-max span{
    cursor: pointer;
    position: absolute;
    
}
.clickable-min-max span:first-child,
.clickable-min-max span:last-child{
    position: unset;
    margin-left: 0;
}
.clickable-min-max span:nth-child(2){
    left: 10%;
    margin-left: -9px;
}
.clickable-min-max span:nth-child(3){
    left: 20%;
    margin-left: -10px;
}
.clickable-min-max span:nth-child(4){
    left: 30%;
    margin-left: -11px;
}
.clickable-min-max span:nth-child(5){
    left: 40%;
    margin-left: -13px;
}
.clickable-min-max span:nth-child(6){
    left: 50%;
    margin-left: -14px;
}
.clickable-min-max span:nth-child(7){
    left: 60%;
    margin-left: -17px;
}
.clickable-min-max span:nth-child(8){
    left: 70%;
    margin-left: -19px;
}
.clickable-min-max span:nth-child(9){
    left: 80%;
    margin-left: -20px;
}
.clickable-min-max span:nth-child(10){
    left: 90%;
    margin-left: -22px;
}
/* / Toltip styling / */
.staking-container .result-table{
    width: 100%;
    border: 1.5px solid #512A9F;
    box-shadow: 0 0 6px #512A9F;
    border-collapse: collapse;
    margin: 20px 0;
}
.staking-container .result-table thead tr:nth-child(odd){
    background: transparent;
}

/* .result-table tr:nth-child(odd){
    background: #030306;
} */
.staking-container .result-table tr:nth-child(odd){
    background: #1C1C1E;
}
.staking-container .result-table th,
.staking-container .result-table td{
    padding: 18px 5px;
    box-sizing: border-box;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border: none;
    border-right: 1.5px solid #512A9F;
    /* box-shadow: 0 0 5px #512A9F; */
    box-shadow: 5px 0 5px -4px #512A9F, -5px 0 8px -4px #512A9F;
    /* box-shadow: 2px 0 5px #512A9F; */
    /* box-shadow: 5px 0 5px -5px #512A9F;
    box-shadow: -5px 0 5px -5px #512A9F; */
    width: 16.67%;
}
.staking-container .result-table thead th{
    color: #E343D7;
    /* text-shadow: 0 0 4px #E343D7; */
    font-size: 20px;
}
.staking-container .result-table td:first-child{
    color: #E343D7;
}
@media screen and (max-width: 768px) {
    .staking-container .staking-generat-wrapper {
        flex-direction: column;
    }
    .staking-container .staking-input-genrat-sec {
        width: 100%;
    }
    .staking-container h2 {
        text-align: center;
    }
}

.staking-container .range-slider {
    /* margin: 60px 0 0 0%; */
}

.staking-container .range-slider {
    width: 100%;
    position: relative;
}

.staking-container .range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
}
.staking-container .range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #E343D7;
    cursor: pointer;
    -webkit-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
}
.staking-container .range-slider__range::-webkit-slider-thumb:hover {
    background: #E343D7;
}
.staking-container .range-slider__range:active::-webkit-slider-thumb {
    background: #E343D7;
}
.staking-container .range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -moz-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
}
.staking-container .range-slider__range::-moz-range-thumb:hover {
    background: #E343D7;
}
.staking-container .range-slider__range:active::-moz-range-thumb {
    background: #E343D7;
}
.staking-container .range-slider__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px #E343D7;
    transition: all .1.5s ease-in-out;
}

::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}




/* /////////// */
.staking-container .input-container{
    width: 25%;
    display: flex;
    align-items: center;
    position: relative;
}
.staking-container .input-container input{
    width: 100% !important;
    padding-right: calc(20% + 5px);
}
.staking-container .rc-input-number-handler-wrap {
    /* float: right; */
    position: absolute;
    /* border-left: 1px solid #d9d9d9; */
    width: 20%;
    height: 100%;
    right: 0;
    transition: all .3s;
}
.staking-container .rc-input-number-handler {
    text-align: center;
    line-height: 50%;
    height: 50%;
    overflow: hidden;
    display: block;
    touch-action: none;
    position: relative;
}
.staking-container .rc-input-number-handler-up {
    /* border-bottom: 1px solid #d9d9d9; */
    padding-top: 1px;
    transition: all .3s;
}
.staking-container .rc-input-number-handler-down {
    transition: all .3s;
}
.staking-container .rc-input-number-handler-down-inner, 
.staking-container .rc-input-number-handler-up-inner {
    color: #666;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}
.staking-container .rc-input-number-handler-up-inner:after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='5' viewBox='0 0 10 5' fill='none'%3E%3Cpath d='M0.416748 4.90473L5.00008 0.142822L9.58342 4.90473H0.416748Z' fill='%23E343D7'/%3E%3C/svg%3E");
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: 44%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}
.staking-container .rc-input-number-handler-down-inner:after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='5' viewBox='0 0 10 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0.0555153L5 4.91663L0 0.0555153H10Z' fill='%23E343D7'/%3E%3C/svg%3E%0A");
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: 44%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}
.staking-container .chart-title{
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
    color: #fff;
}
.result-table-sec-title{
    color: #fff;
    font-size: 22px;
    text-align: center;
}
/* staking calculator style end */
